.card {
  display: flex;
  height: 170px;
  background: var(--clr-algae-green);
  cursor: pointer;

  @media (max-width: 576px) {
    height: 150px;
  }

  &__content {
    padding: 12px 14px;
  }

  &__img {
    @media (max-width: 576px) {
      width: 150px;
      height: 150px;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 700;

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  &__info {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;

    @media (max-width: 576px) {
      -webkit-line-clamp: 3;
    }
  }

  &__detail {
    color: #444;

    @media (max-width: 576px) {
      font-size: 14px;
    }
    
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    
    &>span {
      display: block;
      font-weight: 700;
      color: #000;
    }
  }
}