.character {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 100svh;
  background-color: var(--clr-rum-swizzle);
  background-image: url("/rick-n-morty/rick-and-morty.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: auto 50%;
  overflow: hidden;

  @media (max-width: 992px) {
    background-image: none;
  }

  @media (max-width: 576px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  
    & > svg {
      position: relative;
      display: block;
      width: calc(148% + 1.3px);
      height: 900px;

      @media (max-width: 576px) {
        height: 740px;
      }
  
      & > path {
        fill: var(--clr-black);
      }
    }
  }

  &__back {
    font-size: 16px;
    font-weight: 700;
    color: var(--clr-pine-green);
    transition: text-shadow 0.3s ease-in-out;

    &:hover {
      text-shadow: 1px 1px var(--clr-algae-green);
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
  }

  &__img {
    position: relative;
    display: block;
    width: 250px;
    height: auto;
    font-size: 0;
    box-shadow: 12px 12px 0px 0px var(--clr-pine-green);

    @media (max-width: 768px) {
      box-shadow: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -48px;
      width: 10px;
      height: 1080%;
      background-color: var(--clr-black);

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__content {
    position: relative;
    font-size: 20px;

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }
  
  &__title {
    margin-bottom: 24px;
    font-size: 42px;
    text-shadow: 2px 2px var(--clr-algae-green);
    color: var(--clr-pine-green);

    @media (max-width: 576px) {
      font-size: 28px;
    }
  }

  &__info {
    margin-bottom: 10px;

    & > p {
      font-weight: 500;
      color: #888;

      & > span {
        font-weight: 700;
        color: var(--clr-rum-swizzle);
      }
    }
  }
}
